body, html {
background-color:#ff6500;


}
div {
border: solid #00ff00;
}
p {
border: solid #00ff00;

}
h1 {
border:solid #00ff00;

}
.card {
    background-color: aqua;
    border: #00ff00;
}
.card-imagem{
background-color: aqua;
border: #00ff00;
}