.quad-1 {
width: 100px;
height: 100px;
background-color: aqua;



}
.quad-2 {
width: 100px;
height: 100px;
background-color: blue;



}
.container {
    height: 500px;
display: flex;
justify-content: space-between;
align-items:flex-end;
flex-direction: column;
}
.quad-3 {
    width: 100px;
    height: 100px;
    background-color:salmon;


}




